#sell-items-main-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
 
#image-upload-container {
  position: relative;
  width: 200px; /* Adjust the width as per your design */
  height: 200px; /* Adjust the height as per your design */
  max-width: 200px;
  max-height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent image overflow */
  margin-bottom: 30px;
}

#file-upload {
  display: none;
}

#image-upload-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust the width as per your design */
  height: 200px; /* Adjust the height as per your design */
  max-width: 100%;
  max-height: 100%;
}

#image-upload-label img {
  width: 65px;
  height: 65px;
}

/* Styling when the file is selected */
#file-upload:checked + #image-upload-label {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2,
form h3 {
  margin: 2; /* Remove default margin */
}

/* Style for input fields */
input[type="text"],
input[type="number"],
input[type="file"] {
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid black; /* Black border around the inputs */
  padding: 8px;
  margin-bottom: 10px;
  width: 300px;
}

select {
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid black; /* Black border around the selects */
  padding: 8px;
  margin-bottom: 10px;
  width: 300px; /* Set the same width as input fields */
}

select option {
  padding: 8px;
}

input:required {
  border-color: black; /* Set border color to black by default */
}

input::placeholder {
  color: #555; /* Darker placeholder color */
  font-size: 1.2em;
}

select {
  color: #555; /* Darker placeholder color */
  font-size: 1em;
}
select:required {
  border-color: black; /* Set text color to black by default */
}

button[type="submit"] {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button[type="submit"] {
  background-color: #006AE8;
}

button[type="submit"] {
  background-color: #1C84FF;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.image-added {
  pointer-events: none; /* Makes the element unclickable */
  filter: blur(1px);
  opacity: 0.5;
}