backend/microservices/checkout_service/__pycache__
backend/microservices/inventory_catalog_service/__pycache__
backend/microservices/shopping_cart_service/__pycache__
backend/microservices/user_management_service/__pycache__
/venv
