header {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

p {

}

#HomePage-Main-Container {
  display: flex;
  flex-direction: column;
}

#HomePage-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

#HomePage-Buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#HomePage-Header > header {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

#HomePage-Header > div > button:not(#HomePage-Header-SELL, #HomePage-Header-CART) {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  /* margin-left: auto; Adjusted to push the button to the right */
}
#HomePage-Header-CART{
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  border: 10px;
  width: 60px;
  height: 60px;
  font-weight: bolder;
  font-size: larger;

  border: 2px solid gray;
  border-radius: 100%; /* This will make the border circular */
}
#HomePage-Header-SELL{
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
  border: 10px;
  width: 60px;
  height: 60px;
  font-weight: bolder;
  font-size: larger;

  border: 2px solid gray;
  border-radius: 100%; /* This will make the border circular */
}
#HomePage-Header-SELL:hover {
  background-color: black;
  color: white;
}

#HomePage-Header > div> button > img {
  padding-top: 5px;
  width: 60px;
  height: 60px;
  padding-right: 10px;
}


#empty-holder {
  text-align: center;
  padding-top: 250px;

  font-size: 2em;
  color: gray;
}


/* For the item Boxes */
#main-ItemBox-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-between; */
}

#Item-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  margin-bottom: 20px;
  flex: 0 0 calc(25% - 40px); /*25% so 4 can fit - the 2x20px margin on left and right side of box*/
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
  max-width: 400px;
  max-height: 400px;
  background-color: #F9EFDB;
}

#Item-box > h3, h4, h5{
  padding: 2px;
  padding-bottom: 4px;
  text-align: center !important;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  font-family: Georgia, serif;
}

#Item-box-img{
  display: inline;
  cursor: pointer;
  max-width: 70%;
  max-height: 70%;
  border: 2px solid black;
  margin: 1rem;
}

#expanded-box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 2px solid black;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

#add-item-to-cart {
  background-color: #9DBC98;
  border: none;
  padding: 10px;
  margin-top: 2rem;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #000;
}

#add-item-to-cart:hover {
  background-color: #638889;
}


#close-posting {
  background-color: #9DBC98;
  border: none;
  padding: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #000;
}

#close-posting:hover {
  background-color: #638889;
}


/* For expanding the box */
.hidden-element {
  display: none !important;
}

.hidden-button {
  visibility: hidden; /* Makes the element invisible */
  pointer-events: none; /* Makes the element unclickable */
}

#main-ItemBox-container.expanded-main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  z-index: 9999; 
  display: flex;
}

.expanded-item-box {
  max-width: 40rem !important;
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  align-items: center !important;
  padding-top: 2rem !important;
  border: 2px solid #000 !important;
}

#Item-box.expanded-item-box {
  align-items: flex-start;
  position: fixed;
  background-color: #638889;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* ensures this item is on top of everything else */
  width: 70%;
  max-width: 70%;
  height: 80%;
  max-height: 80%;
  overflow: auto;
  padding: 15px;
}

#Item-box.expanded-item-box > div > img {
  flex: 1;
}

#Item-box.expanded-item-box > div > button {
  position: absolute; /* Set the button to absolute positioning */
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 25px;
}

#Item-box.expanded-item-box > div > button > img {
  width: 40px;
  height: 40px;
}

.button-img-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.expanded-img-wrapper {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  height: 100%;
}

.post-attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 0.2rem;
  /* margin-left: 2.5rem; */
}
/* For sizing the page */
@media (max-width: 1000px) {
  #obituary-box {
    flex: 0 0 calc(50% - 40px);
  }
}
@media (max-width: 800px) {
  #obituary-box {
    flex: 0 0 calc(100% - 40px);
  }
}

/* For Loading */
#loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  font-weight: bolder;
  font-size: x-large;
}