<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="POST">
        <label for="name">Item name:</label><br>
        <input type="text" id="name" name="name" placeholder="Enter item name"><br>
        <br><label for="machinery">Item type:</label><br>
        <input type="radio" id="machinery" name="item_type" value=1>
        <label for="machinery">Machinery</label><br>
        <input type="radio" id="tool" name="item_type" value=2>
        <label for="tool">Tool</label><br>
        <input type="radio" id="livestock" name="item_type" value=3>
        <label for="livestock">Livestock</label><br>
        <input type="radio" id="produce" name="item_type" value=4>
        <label for="produce">Produce</label><br>
        <br><label for="price">Item price:</label><br>
        <input type="text" id="price" name="price" placeholder="0.00"><br>
        <br><label for="desc">Description:</label><br>
        <input type="text" id="desc" name="description" placeholder="Enter a description"><br>
        <br><label for="poster">Poster:</label><br>
        <input type="text" id="poster" name="poster" placeholder="Enter the poster's user-id"><br>
        <br><input type="submit" value="Submit">
    </form>
</body>
</html>