  label {
    font-weight: bold;
  }
  
  #login-form {
    background-color: #638889;
    height: 75%;
    border: 2px solid #000;
  }

  #submit-login {
    width: 50%;
    text-align: center;
    border: none;
    background-color: #9DBC98; /* Button background color */
    color: black; /* Text color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #000;
    display: inline-block;
  }

  #submit-login:hover {
    background-color: #7FAF7F; /* Highlighted button background color */
    color: white; /* Highlighted text color */
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #EBD9B4; /* Blue background color */
  }
  
  .form-group {
    background-color: #9DBC98;
    color: black;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
  }
  
  .login-container input{
    width:75%;
    align-self: center;
  }