#signup-button {
  width: 50%;
  text-align: center;
  border: none;
  background-color: #9DBC98; /* Button background color */
  color: black; /* Text color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #000;
  display: inline-block;
  margin-top: 2.5rem;
  width: 20%;
}

#signup-button:hover {
  background-color: #7FAF7F; /* Highlighted button background color */
  color: white; /* Highlighted text color */
}

.input-form {
  background-color: #EBD9B4;
  border: 1px solid #000;
}

.signup-form {
  background-color: #EBD9B4; /* White background color */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  width:100%;
}

.signup-title {
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2rem;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
}

.signup-form-group {
  background-color: #EBD9B4;
  border: None;
  padding: 0rem;
  margin: 0rem;
  max-height: 5rem;
  padding-top: 1rem;
  width: 75%;
}

.input-form {
  border-radius: 1rem;
}

.signup-container input{
  width:100%;
  align-self: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #EBD9B4; /* Blue background color */
}



