input {
  background-color: #EBD9B4;
  border: 1px solid #000;
}

form {
  background-color: #EBD9B4; /* White background color */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  width:100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  background-color: #EBD9B4;
  border: None;
}


.signup-container input{
  width:100%;
  align-self: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #EBD9B4; /* Blue background color */
}

